body {
  background-color: #CAF0F8;
    margin-left: 500px;
}
hr {
  border-style: dotted none none;
  border-width: thick;
  border-color: grey;
  border-width: 10px;
  height: 20px;
  width: 40%;
  margin: 30px;
}
h1 {
  color: GREEN;
}
h3{
  color: Green;
}
.links
{
  padding-left: 95%;
  padding-right: 5px;
}
